header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: navy;
}


.left {
  width:50%;
  height: 100vh;
  float: left;
}

.about {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.right {
  width: 50%;
  height: 100vh;
  float: left;
}

.pictures {
  text-align: center;
  padding-top: 10%;
}